name={{ getenv "SERVICE_NAME" "hdfs-connector" }}
connector.class=io.confluent.connect.hdfs.HdfsSinkConnector
tasks.max={{ getenv "TASKS" "1" }}
topics={{ getenv "TOPICS" "test" }}

### HDFS ###
# The HDFS connection URL. This configuration has the format of hdfs:://hostname:port and specifies the HDFS to export data to.
hdfs.url={{ getenv "HDFS_SERVICE" "hdfs://nameservice1" }}
# The Hadoop configuration directory.
hadoop.conf.dir=/opt/docker/conf/hadoop-conf
# Top level HDFS directory to store the data ingested from Kafka.
topics.dir={{ getenv "HDFS_PATH" "/data" }}
# Top level HDFS directory to store the write ahead logs.
logs.dir={{ getenv "HDFS_LOGS_PATH" "/logs" }}
# The format class to use when writing data to HDFS.
format.class=io.confluent.connect.hdfs.avro.AvroFormat

### Hive ###
# Configuration indicating whether to integrate with Hive when running the connector.
hive.integration={{ getenv "HIVE_INTEGRATION" "false" }}
# The Hive metastore URIs, can be IP address or fully-qualified domain name and port of the metastore host.
#hive.metastore.uris=thrift://{{ getenv "HIVE_HOST" "hive" }}:{{ getenv "HIVE_HOST" "9083" }}
# Hive configuration directory.
hive.conf.dir=/opt/docker/conf/hive-conf
# Hive home directory.
#hive.home=
# The database to use when the connector creates tables in Hive.
hive.database={{ getenv "HIVE_DATABASE" "default" }}

### Security ###
# Configuration indicating whether HDFS is using Kerberos for authentication.
hdfs.authentication.kerberos={{ getenv "KERBEROS_AUTH" "false" }}
# The principal to use when HDFS is using Kerberos to for authentication.
connect.hdfs.principal={{ getenv "KERBEROS_PRINCIPAL" "principal@EXAMPLE.COM" }}
# The path to the keytab file for the HDFS connector principal. This keytab file should only be readable by the connector user.
connect.hdfs.keytab={{ getenv "KERBEROS_KEYTAB" "/opt/docker/auth/principal.keytab" }}
# The principal for HDFS Namenode.
hdfs.namenode.principal={{ getenv "KERBEROS_HDFS_PRINCIPAL" "hdfs/nameservice1@EXAMPLE.COM" }}
# The period in milliseconds to renew the Kerberos ticket.
kerberos.ticket.renew.period.ms={{ getenv "KERBEROS_TICKET_RENEW" "3600000" }}

### Schema ###
# The schema compatibility rule to use when the connector is observing schema changes. The supported configurations are NONE, BACKWARD, FORWARD and FULL.
schema.compatibility={{ getenv "SCHEMA_COMPAT" "BACKWARD" }}
# The size of the schema cache used in the Avro converter.
schema.cache.size={{ getenv "SCHEMA_CACHE" "1000" }}

### Connector ###
# Number of records written to HDFS before invoking file commits.
flush.size={{ getenv "FLUSH_SIZE" "10000" }}
# The time interval in milliseconds to invoke file commits. This configuration ensures that file commits are invoked every configured interval.
# This configuration is useful when data ingestion rate is low and the connector didn’t write enough messages to commit files.
# The default value -1 means that this feature is disabled.
rotate.interval.ms={{ getenv "ROTATE_INTERVAL" "-1" }}
# The time interval in milliseconds to periodically invoke file commits. This configuration ensures that file commits are invoked every configured interval.
# Time of commit will be adjusted to 00:00 of selected timezone. Commit will be performed at scheduled time regardless previous commit time or number of messages.
# This configuration is useful when you have to commit your data based on current server time, like at the beginning of every hour.
# The default value -1 means that this feature is disabled.
rotate.schedule.interval.ms={{ getenv "ROTATE_SCHEDULE_INTERVAL" "600000" }}
# The retry backoff in milliseconds. This config is used to notify Kafka connect to retry delivering a message batch or performing recovery in case of transient exceptions.
retry.backoff.ms={{ getenv "RETRY_BACKOFF" "10000" }}
# Clean shutdown timeout. This makes sure that asynchronous Hive metastore updates are completed during connector shutdown.
shutdown.timeout.ms={{ getenv "SHUTDOWN_TIMEOUT" "3000" }}
# The partitioner to use when writing data to HDFS. You can use DefaultPartitioner, which preserves the Kafka partitions;
# FieldPartitioner, which partitions the data to different directories according to the value of the partitioning field specified in partition.field.name;
# TimebasedPartitioner, which partitions data according to the time ingested to HDFS.
partitioner.class={{ getenv "PARTITIONER" "io.confluent.connect.hdfs.partitioner.TimeBasedPartitioner" }}
# The name of the partitioning field when FieldPartitioner is used.
partition.field.name={{ getenv "PARTITION_FIELD" "id" }}
# The duration of a partition milliseconds used by TimeBasedPartitioner. The default value -1 means that we are not using TimebasedPartitioner.
partition.duration.ms={{ getenv "PARTITION_DURATION" "600000" }}
# This configuration is used to set the format of the data directories when partitioning with TimeBasedPartitioner.
# The format set in this configuration converts the Unix timestamp to proper directories strings.
# For example, if you set path.format='year'=YYYY/'month'=MM/'day'=dd/'hour'=HH/, the data directories will have the format /year=2015/month=12/day=07/hour=15.
path.format={{ getenv "PARTITION_FORMAT" "YYYY/MM/dd/HH/" }}
# The locale to use when partitioning with TimeBasedPartitioner.
locale={{ getenv "LOCALE" "en" }}
# The timezone to use when partitioning with TimeBasedPartitioner.
timezone={{ getenv "TIMEZONE" "UTC" }}
# Width to zero pad offsets in HDFS filenames to if the offsets is too short in order to provide fixed width filenames that can be ordered by simple lexicographic sorting.
filename.offset.zero.pad.width={{ getenv "FILENAME_ZERO_PAD" "10" }}

### Internal ###
# The underlying storage layer. The default is HDFS.
storage.class=io.confluent.connect.hdfs.storage.HdfsStorage
